.gallery img {
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  float: left;
  padding: 0.1em;
}
.gallery img.big {
  object-fit: cover;
  width: 30vw;
  height: 15vw;
  float: left;
  padding: 0.1em;
}
.container .gallery {
  max-width: 67vw;
}
.gallery img.motocycle_gallery{
  object-fit: cover;
  width: 10vw;
  height: 10vw;
  float: left;
  padding: 0.1em;
}